{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Todo Form{% endblock %}
{% block contents %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h5 class="card-title text-center">Todo Form</h5>
                    </div>
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
